<p><b>Diese E-Mail wurde automatisch durch <a href="https://github.com/alexanderbazo/UpdateNotifier">diesen Skript</a> und auf Basis <a href="https://www.uni-regensburg.de/interne-kommunikation/corona-infos/index.html">dieser Seite</a> generiert (Stand [<i>$DATE</i>]). Die Angaben sind ohne Gewähr. Diese E-Mail ist kein offizieller Dienst der Universität Regensburg. Hinweise und Fragen bitte an <a href="mailto:alexander.bazo@ur.de">alexander.bazo@ur.de</a>.</b></p>

<hr />

<h1>Aktuelle Neuigkeiten der Uni Regensburg zum Umgang mit dem Coronavirus</h1>
<p><b>Achtung:</b> Diese E-Mail wird bei allen Änderungen an der Infoseite generiert. Ggf. sind nicht alle Aktualisierungen in dieser Übersicht enthalten. Bitte prüfen Sie auch die eigentliche <a href="https://www.uni-regensburg.de/interne-kommunikation/corona-infos/index.html">Infoseite</a></p>


$NEWS